  
<!-- app/templates/text_recommendation_form.html -->

{% extends "bootstrap_layout.html" %}

{% block content %}

    <p>
        <img src="https://cdn-images.zety.com/pages/budtender_resume_example_2.jpg"
        alt="Marijuana Leaf Header" width="100%">
    </p>

    <h2>Describe your dream strain!</h2>

    <h7> • Please write us a short description of what you are looking for and our genius bots will analyze your text input and return to you 5 recommended strain profiles. <br><br>
    </h7>

    <form action="/output_text" method="POST">

        <textarea name="message" rows="7" cols="60">Include effects, flavor, strain, anything you can think of! </textarea>
        <br><br>
        <input type="submit">

    </form>

{% endblock %}
